{% block styles  %}
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet"/>
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet"/>
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet"/>
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{{ block title }}
<div class="d-flex flex-row align-items-center mb-4">
    <span class="d-flex flex-column">
        <h3>Latihan Lapor Pendapatan</h3>
        <span class="d-flex flex-row align-items-center">
            <span class="badge bg-success fs-5">Hasil Akhir Latihan Lapor Pendapatan</span>
            <span class="badge bg-danger fs-5 m-2 mt-0 mb-0">
                <span>Waktu Tersisa : </span>
                    <span class="otree-timer__time-left"></span>
            </span>
        </span>
    </span>
</div>
{{ endblock }}
{{ block content }}
    <style>
        span, p {
        font-size: 18px;
        }
    </style>
    <div class="jumbotron" style="border-radius: 10px; padding: 20px; background-color: #EDEDED;">
        {{ if participant.laporlebih > 0 }}
            <div class="alert alert-link alert-success p-2">
                Anda melaporkan pendapatan Anda lebih dari yang Anda peroleh. <br />
                Namun beban pajak Anda adalah sesuai dengan pendapatan asli Anda.
            </div>
        {{ elif player.audit == 1 and player.denda == 0 }}
            <div class="alert alert-link alert-success p-2">
                Anda terkena Audit di ronde ini. <br />
                Anda melaporkan pendapatan dengan jujur.
            </div>
        {{ elif player.audit == 1 and player.denda > 0 }}
            <div class="alert alert-link alert-danger p-2">
                Anda terkena Audit di ronde ini. <br />
                Anda melaporkan Pendapatan yang tidak sesuai dengan aslinya.<br />
                Anda kena Denda sebesar 50%. Denda Anda sebesar {{ player.denda }}
            </div>
        {{ elif player.audit == 0 and player.denda == 0 }}
            <div class="alert alert-link alert-success p-2">
                Anda tidak terkena Audit pada ronde ini.
            </div>
        {{ endif }}
        <div class="alert alert-link alert-success p-2">
            Hasil Pendapatan Akhir Anda setelah Lapor Pendapatan sebesar <strong>{{ player.payoff }}</strong>
        </div>
    </div>
{{ endblock }}